
@import "./_variables_andDefault";
@import "./mixins";


.body {
  height: 100vh;
  width: 100vw;
}
.full-page{
  display: grid;
  height: 100%;
  width: 100%;
  grid-template:       "tb tb tb tb tb tb"  3fr
                      "seven eight nine exponentiation undo clear" 1fr
                      "four five six multiply left_parenthesis right_parenthesis" 1fr
                      "one two three divide equals equals" 1fr
                      "zero period subtract add e e" 1fr
                      / 1fr 1fr 1fr 1fr 1fr 1fr;
  @include alignChildren();
  div {
    width: 100%;
    height: 100%;
    @include alignSelf();
  }
}
@import "./buttons";